@import "tailwindcss";
/* From Uiverse.io by Navarog21 */ 
.btn-custom {
  width: 10em;
  position: relative;
  height: 2.5em;
  border: 3px ridge #149CEA;
  outline: none;
  background-color: transparent;
  
  transition: 1s;
  border-radius: 0.3em;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.btn-custom::after {
  content: "";
  position: absolute;
  top: -10px;
  left: 3%;
  width: 95%;
  height: 40%;

  transition: 0.5s;
  transform-origin: center;
}

.btn-custom::before {
  content: "";
  transform-origin: center;
  position: absolute;
  top: 80%;
  left: 3%;
  width: 95%;
  height: 40%;
 
  transition: 0.5s;
}

.btn-custom:hover::before, button:hover::after {
  transform: scale(0)
}

.btn-custom:hover {
  box-shadow: inset 0px 0px 25px #3c0366;
}